#information {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1200px;
    left: calc(50% - 600px);
    align-items: center;
    justify-content: center;
}
.divTable{
	display: table;
    color:#dff5f7;
    border: 1px solid #000;
    text-align: center;
    border-radius: 10px;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	display: table-cell;
    background-color: #1c2942;
	width: 250px;
    height: 50px;
    padding: 20px;
}
.divTableHeading {
	display: table-header-group;
    border-radius: 10px;
}
.h_line_table {
    position: absolute;
    width: 820px;
    height: 1px;
    left: 300px;
    background-color: #FEB201;  
}
.divTableCellDistance {
    display: table-cell;
    width: 20px;
    background-color: #1c2942;
    padding-top: 30px;
}
.h_line_table_distance {
    position: absolute;
    width: 10px;
    height: 1px;
    left: 60px;
    background-color: #FEB201; 
}
.divTableCellImage {
    display: table-cell;
    width: 200px;
}
.divTableImage {
    height: 25px;
    padding: 2px;
}
.divTableImage:hover {
    cursor: pointer;
}
.divTableCellImageHead, .divTableCellDistanceHead {
    display: table-cell;
}
.divTableCellHead {
    padding: 5px;
    height: 30px;
    display: table-cell;
    background-color: #0b162c;
    font-weight: bold;
    color:#fff;
}
.divTableCellImage img {
    position: relative;
    height: 50px;
    top: 24px;
}