.divTable{
	display: table;
	width: 1200px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: calc(50% - 600px);
    background-color: #1c2942;
    color:#dff5f7;
    border: 1px solid #000;
    text-align: center;
    border-radius: 10px;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	display: table-cell;
	width: 300px;
    height: 20px;
    padding: 10px;
}
.divTableHeading {
    color:#fff;
    border-radius: 10px;
	background-color: #0b162c;
	display: table-header-group;
	font-weight: bold;
}

.h_line_table {
    position: absolute;
    width: 900px;
    height: 1px;
    left: 250px;
    background-color: #FEB201;  
}
.divTableCellDistance {
    width: 30px;
}
.h_line_table_distance {
    position: absolute;
    width: 15px;
    height: 1px;
    left: 7.5px;
    background-color: #FEB201; 
}
.divTableImage {
    position: absolute;
    right: 152px;
    height: 20px;
    padding: 2px;
}
.divTableImage:hover {
    cursor: pointer;
}